@import "../../assets/css/variaveis";

.container-barra-superior-apresentacao{
  background-color:$verdeClaro;
  border-bottom: none;
  color: $whiteColor;
  text-decoration: none;
  text-align: center;
}
