@import "../../assets/css/variaveis";

.container-barra-superior{
  background-color: $cinzaCabecalhoTabelas;
  border-bottom: solid 1px #ECECEC;
}

.textos-barra-superior a{
  color: $corFonte;
  text-decoration: none;
}